body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
}

body.dark {
  color: #d6d3d7;
  background-color: #000018;
}

body.light {
  color: #0f0f0f;
  background-color: #ffffff;

}