
:root, [data-theme="light"] {
    --color-text: #0f0f0f;
    --color-text-warn: hsl(22, 100%, 25%);
    --color-text-error: hsl(0, 99%, 47%);
    --color-bg: white;
    --color-viz-bg: white;
    --color-modal-bg: rgba(255, 255, 255, 0.75);
    --color-borders: #505050;
  }
  
  [data-theme] {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
  
  [data-theme="dark"] {
    --color-text: #d6d3d7;
    --color-text-warn: yellow;
    --color-text-error: red;
    --color-bg: #000018;
    --color-viz-bg: #010e35;
    --color-modal-bg: rgba(38, 38, 38, 0.75);
    --color-borders: #505050;
  }
  