.panel {
    border-style: solid;
    border-width: 1px;
    border-color: #505050;
    padding: 2px;
    margin: 2px;
}
.panel.hidden {
    border-style: dotted;
}

.panel h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.panel.borderless {
    border-style: none;
    padding: 0;
    margin: 0;
}
